


  <div class="news">

    <figure class="article">

      <%= cl_image_tag ("gamta_zno5gx.jpg") %>

      <figcaption>

        <h3>Exploring</h3>

        <p>

          I love exploring new places
        </p>

      </figcaption>

    </figure>

  </div>


<div class="container">
    <div class="news">

      <figure class="col-6 col-md-6 col-lg-3 article">
      <%= cl_image_tag ("gamta_zno5gx.jpg") %>
      <figcaption>
      <h3>Exploring</h3>
      <p>
          I love exploring new places
        </p>
        </figcaption>
      </figure>


      <figure class="col-6 col-md-6 col-lg-3 article">
      <%= cl_image_tag ("my_jungle_ko90ca.jpg") %>
      <figcaption>
      <h3>my jungle</h3>
      <p>
          I love exploring new places
        </p>
        </figcaption>
      </figure>



      <figure class="col-6 col-md-6 col-lg-3 article">
        <%= cl_image_tag ("dinner_u6c6ns.jpg") %>
        <figcaption>
      <h3>dinners</h3>
       <p>
          I love exploring new places
        </p>
        </figcaption>
      </figure>


      <figure class=" col-6 col-md-6 col-lg-3 article">
        <%= cl_image_tag ("ocean_gx9gra.jpg") %>
      <figcaption>
      <h3>The Sound <br> of waves</h3>
       <p>
          I love exploring new places
        </p>
        </figcaption>
      </figure>

     </div>
   </div>
