<nav class="my-nav navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbaras">
  <div class= "navbar-brand logo" style="width: 156px;position: relative;left: 540px;" >
  <%= link_to root_path do %>
  <%= image_tag ("logo2.png") %>
  <% end %>
  </div>
</div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active aboutme" style="position: relative; left: 160px;">
       <h2><%= link_to "About Me", aboutme_path,  class: "nav-link" %></h2>
      </li>
      <li class="nav-item weddings" style="position: relative;left: 195px;">
        <h2><%= link_to "Weddings", weddings_path,  class: "nav-link" %></h2>
      </li>
      <li class="nav-item stories" style="position: relative; left: 380px;">
        <h2><%= link_to "Book Me", bookme_path,  class: "nav-link" %></h2>
      </li>
      <li class="nav-item sendme"style="position: relative;left: 400px;" >
        <a class="nav-link"href="mailto:ovidijusmaslovasp@gmail.com"><h2>Send Me Message</h2></a>
      </li>

    </ul>
</div>
</nav>






