



<%= simple_form_for Contact.new, url: pages_path, method: :post, remote: true do |f| %>

<div class="container bookme">
  <h1 class="text-center">Book Me</h1>
        <%= f.label :name,  class: "contact-name" %></br>
        <%= f.text_field  :name, required: true, class: "contact-form-text-area name-email" %></br>

        <%= f.label :email, class: "contact-email" %></br>
        <%= f.text_field :email, required: true, class: "contact-form-text-area name-email" %></br>

  <%= f.input :booking_for, as: :radio_buttons, collection: [['Wedding', 'Wedding Shoot'], ['Couples', 'Couples Shoot'], ['other', 'Share your dream']], label_method: :second, value_method: :first %>

     <!--  <%= f.label :message, class: "contact-message" %></br> -->
     <%= f.input :message, :as => :text, :required => true, class: "contact-form-text-area message-blank",
                        placeholder: "Let me know your idea"%></br>

      <%= f.submit 'Send Message', class: 'submit' %>
    </div>
  <% end %>
</div>
  <div class="col-md-6" id="flash-message">
    <%= render 'shared/flash' %>
  </div>
