



<%= simple_form_for Contact.new, url: pages_path, method: :post, remote: true do |f| %>

<div class="container bookme" style="width: 48%;">
  <h1 class="text-center">Say Hello</h1>
        <%= f.label :name,  class: "contact-name" %></br>
        <%= f.text_field  :name, required: true, class: "contact-form-text-area name-email" %></br>

        <%= f.label :email, class: "contact-email" %></br>
        <%= f.text_field :email, required: true, class: "contact-form-text-area name-email" %></br>

  <%= f.input :booking_for, as: :radio_buttons, collection: [['Wedding', 'Wedding Shoot'], ['Couples', 'Couples Shoot'], ['other', 'Share my dream']], label_method: :second, value_method: :first %>

     <!--  <%= f.label :message, class: "contact-message" %></br> -->
     <%= f.input :message, :as => :text, :required => true, class: "contact-form-text-area message-blank",
                        placeholder: "I cant wait to hear it all from you! Feel free to share with me your dream weddings, venue, vendors, location and any other special details which sets the mood. I will do my best to make this happen."%></br>

      <%= f.submit 'Send Message', class: 'submit' %>
    </div>
  <% end %>
</div>
  <div class="col-md-6" id="flash-message">
    <%= render 'shared/flash' %>
  </div>
