<%= render 'shared/small-banner' %>
<div class="row aboutme-row" style="margin-right: 0px !important; margin-left: 0px !important;">
    <div class="col col-md-6 col-lg-4">
      <div class="container pic-about">
      <div class="card aboutme-card" style="width: 18rem;" id="card-homepage" style="max-width: 540px; text-align: center;">
        <%= cl_image_tag("aboutme1_rezfa3.jpg") %>
      </div>
    </div>
    </div>
      <div class="col-6 col-md-6 col-lg-4">
        <div class="about-text">
          <div class="text1">
            <p>I am passionate life photographer and travelling is part of my life. <br>
              I came from the middle of nowhere called Sventoji, in Lithuania. And now I am based in Berlin.<br>
              The curiosity of experiencing new places is so exciting!
            </p>
          </div>
        </div>
      </div>




   <div class="container text2" style="width: 34%">
      <p>
   Recently I have started focusing on photographing couples, weddings and anything that can inspire.
 I believe in the love of two people and I want to be part of it to document those magical moments.
Maybe you have always wanted to have a thrilling wander, see the sunset at the Bavarian mountains
or wait for the sunrise at the misty Sorapis lake in Italy. I am the right guy with a camera to
capture your dreamtrip!</p>
    </div>

</div>

<div class="container aboutme-row2">
<div class="about-text2">
       <div class="hi">
    <h1>Hi, my name is Ovidijus</h1>
      </div>
      <div class="pic1">
    <%= cl_image_tag("aboutmebig_otbgqr.jpg") %>
</div>
<div class="gif">
  <div class="capture">
    <h1>I am here to capture <br> <h2>your wild moments</h2></h1>
  </div>
    <%= cl_image_tag("mano-gifas_d35qrz.gif") %>
    </div>
  </div>
</div>
<div class="introduction">
  <div class="introduction-header">
    <h3>The craft of photograhy lets me be free! </h3>
  </div>
   <div class="introduction-line">
 <br>
  </div>
  <div class="introduction-text">
    <h3> I put so much time, effort and love in every single photo I am creating. <br>
        This is not just a job, this is my passion. We have been together for a long <br>
        time on this journey. Meeting new interesting people & exploring beautiful <br>
        world’s corners are the things that keep moving me forward. </h3>
  </div>
  <div class="lapeliai">
    <%= image_tag ("du-lapeliai.png") %>
  </div>
  <div class="introduction-summery">
    <h3>It makes me proud to make <b> You </b> smile! </h3>
  </div>
</div>
  <div class="introduction-photo">
    <%= cl_image_tag("kelias_usa_bwrgaw.jpg") %>
  </div>
   <div class="things-i-love">
    <div class="things-i-love-header">
      <h3>Things that make me happy</h3>
    </div>

<div class="container things-i-love-photos">
  <div class="i-like-gallery">
    <div class="news">

      <figure class="col-6 col-md-6 col-lg-3 article">
      <%= cl_image_tag ("gamta_zno5gx.jpg") %>
      <figcaption>
      <h3>Exploring</h3>
      <p>
          Discovering new places
        </p>
        </figcaption>
      </figure>


      <figure class="col-6 col-md-6 col-lg-3 article">
      <%= cl_image_tag ("my_jungle_ko90ca.jpg") %>
      <figcaption>
      <h3>My Jungle</h3>
      <p>
          I love my little home botanic garden
        </p>
        </figcaption>
      </figure>



      <figure class="col-6 col-md-6 col-lg-3 article">
        <%= cl_image_tag ("dinner_u6c6ns.jpg") %>
        <figcaption>
      <h3>Dinners</h3>
       <p>
          My greatest value is Family&Friends
        </p>
        </figcaption>
      </figure>


      <figure class=" col-6 col-md-6 col-lg-3 article">
        <%= cl_image_tag ("ocean_gx9gra.jpg") %>
      <figcaption>
      <h3>The Sound <br> of Waves</h3>
       <p>
          It reminds me of my origins
        </p>
        </figcaption>
      </figure>

     </div>
   </div>
 </div>
