<%= render 'shared/small-banner' %>
<div class="row aboutme-row" style="margin-right: 0px !important; margin-left: 0px !important;">
    <div class="col col-md-6 col-lg-4">
      <div class="container pic-about">
      <div class="card aboutme-card" style="width: 18rem;" id="card-homepage" style="max-width: 540px; text-align: center;">
        <%= cl_image_tag("aboutme1_rezfa3.jpg") %>
      </div>
    </div>
    </div>
      <div class="col-6 col-md-6 col-lg-4">
        <div class="about-text">
          <div class="text1">
            <h3>I am adventure photographer. <br>
              I love traveling.I came from the middle of nowhere called Lithuania.And now I am based in Berlin.<br>
              The curiosity of expeiencing new paces is so exciting!
            </h3>
          </div>
        </div>
      </div>




   <div class="container text2" style="width: 34%">
      <h3>
   Recently I have started focusing on couples, weddings and anything what can inspire.
    I believe in love of two people and i want to be part of it to document those magical moments.
    Maybe you have always wanted to have thrilling wander, see the sunset at the Bavarian mountains or wait for the sunrise at the misty Sorapis lake in italy.
    I am the right guy with camera to capture your dreamtrip!</h3>
    </div>

</div>

<div class="container row aboutme-row2">
<div class="about-text2">
       <div class="hi">
    <h1>Hi, My name is Ovidijus</h1>
      </div>
      <div class="pic1">
    <%= cl_image_tag("aboutmebig_otbgqr.jpg") %>
</div>
<div class="gif">
  <div class="capture">
    <h1>I am here to capture <br> <h2>your Wild moments</h2></h1>
  </div>
    <%= cl_image_tag("aboutme_wr1w5h.gif") %>
    </div>
  </div>
</div>
<div class="introduction">
  <div class="introduction-header">
    <h3>The craft of photograhy lets me be free! </h3>
  </div>
   <div class="introduction-line">
 <br>
  </div>
  <div class="introduction-text">
    <h3> I put so much time, effort and love in every single photo i am. This is <br>
        not just a job this is my passione I have been together for a  long<br>
        time. On this jeourney  I have learned a lot. Meeting new intersting<br>
        people. exploring beautiful world’s corners. </h3>
  </div>
  <div class="lapeliai">
    <%= image_tag ("du-lapeliai.png") %>
  </div>
  <div class="introduction-summery">
    <h3>it makes me proud to make <b> you </b> smile! </h3>
  </div>
</div>
  <div class="introduction-photo">
    <%= cl_image_tag("kelias_usa_bwrgaw.jpg") %>
  </div>
   <div class="things-i-love">
    <div class="things-i-love-header">
      <h3>things that makes me happy</h3>
    </div>

<div class="things-i-love-photos">
  <div class="container row i-like-gallery">
    <div class="news">

      <figure class="col-6 col-md-6 col-lg-3 article">
      <%= cl_image_tag ("gamta_zno5gx.jpg") %>
      <figcaption>
      <h3>Exploring</h3>
      <p>
          I love exploring new places
        </p>
        </figcaption>
      </figure>


      <figure class="col-6 col-md-6 col-lg-3 article">
      <%= cl_image_tag ("my_jungle_ko90ca.jpg") %>
      <figcaption>
      <h3>my jungle</h3>
      <p>
          I love exploring new places
        </p>
        </figcaption>
      </figure>



      <figure class="col-6 col-md-6 col-lg-3 article">
        <%= cl_image_tag ("dinner_u6c6ns.jpg") %>
        <figcaption>
      <h3>dinners</h3>
       <p>
          I love exploring new places
        </p>
        </figcaption>
      </figure>


      <figure class=" col-6 col-md-6 col-lg-3 article">
        <%= cl_image_tag ("ocean_gx9gra.jpg") %>
      <figcaption>
      <h3>The Sound <br> of waves</h3>
       <p>
          I love exploring new places
        </p>
        </figcaption>
      </figure>

     </div>
   </div>
 </div>
