<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no maximum-scale=1">
<!-- <meta name="keywords" content="htmlcss bootstrap menu, navbar, mega menu examples" />
<meta name="description" content="Bootstrap navbar examples for any type of project, Bootstrap 4" /> -->
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
<title><%= meta_title %></title>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>

<!-- Bootstrap files (jQuery first, then Popper.js, then Bootstrap JS) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" type="text/javascript"></script>


<script type="text/javascript">
/// some script
$(function () {
    'use strict'

  $("[data-trigger]").on("click", function(){
        var trigger_id =  $(this).attr('data-trigger');
        $(trigger_id).toggleClass("show");
        $('body').toggleClass("offcanvas-active");
    });

    // close if press ESC button
    $(document).on('keydown', function(event) {
        if(event.keyCode === 27) {
           $(".navbar-collapse").removeClass("show");
           $("body").removeClass("overlay-active");
        }
    });

    // close button
    $(".btn-close").click(function(e){
        $(".navbar-collapse").removeClass("show");
        $("body").removeClass("offcanvas-active");
    });


})
</script>

<style type="text/css">

body.offcanvas-active{
  overflow:hidden;
}
.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #856A41;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

</style>
</head>
<body>

<!-- <header class="section-header py-4">
<div class="container">
  <h2>Demo page</h2>
</div>
</header> section-header.// -->

<!-- ========================= SECTION CONTENT ========================= -->


<nav class="navbar navbar-expand-lg navbar-dark" style="background: #A89F8A; justify-content: center;">
  <div class="nav-logo-collapse">
    <div class="nav-item active navbaras">
          <div class= "navbar-brand logo ml-auto hidden-sm-up float-xs-center" >
              <%= image_tag ("sviesiai-pilkas.png") %>
          </div>
    </div>
  </div>
</nav>
<div class="ads-photo-text">
  <div class="ads-first-photo">
    <%= cl_image_tag("mobile_karusele_1_wxjxjx.jpg") %>
  </div>
    <h5>Looking for a wedding photographer?</h5>
</div>
<div class="book-call book-appoitment-first" style="margin-top: 2rem;">
  <div class="book-call-text">
    <a href="https://calendly.com/yourstorybyovidijus/30min?month=2021-03">
      <h5>Book an appointment with me</h5></a>
  </div>
  <div class="book-call-arrow book-appoitment-arrow">
      <%= cl_image_tag("rodykle3_tr_k8r77j.jpg") %>
  </div>
  <div class="book-call-angebot book-appoitment-angebot">
    <h5>Get your 10% off</h5>
  </div>
</div>
<div class="photo-text-for-mobile">
  <div class="photo-text">
    <div class="header1-photo2">
       <%= cl_image_tag("front_page_as_w57tkl.jpg") %>
    </div>
  </div>
  <div class="first-header-welcome">
    <div class="welcome-header welcome-header-ads">
      <h3><span>Welcome</span></br> I am Ovidijus!</h3>
    </div>
    <div class="first-header-more">
      <p>I am a professional wedding photographer   I will be there for those special moments.
         I will be your best friend to feel relaxed,
         comfortable, laugh from silly things
         and the most important enjoy each others
         company. </p>
      </div>
          <div class="rodykle">
               <%= image_tag("rodykle.png") %>
             </div>
          <div class="first-header-sendme">
          <a href="mailto:hello@yourstorybyovidijus.com"><p>I am happy to answer all your questions  <br> send me a messege </p></a>
    </div>
  </div>
</div>
<div class="photo-text-for-big-screen">
  <div class="photo-for-big-screen">
    <div class="header1-photo">
       <%= cl_image_tag("as_miske_rgnz0s.jpg") %>
    </div>
  </div>
<div class="first-header-welcome">
  <div class="welcome-header welcome-header-ads">
    <h3><span>Welcome,</span></br> I am Ovidijus!</h3>
  </div>
  <div class="first-header-more">
    <p>I am a professional wedding photographer   I will be there for those special moments.
       I will be your best friend to feel relaxed,
       comfortable, laugh from silly things
       and the most important enjoy each others
       company. </p>
    </div>
        <div class="rodykle">
             <%= image_tag("rodykle.png") %>
           </div>
        <div class="first-header-sendme">
        <a href="mailto:hello@yourstorybyovidijus.com"><p>I am happy to answer all your questions  <br> send me a messege </p></a>
  </div>
</div>
</div>
  <div class="packages-first-photo-for-mobile" style="margin-top: -5em;">
    <%= cl_image_tag ("m-9711-2_vhzkgt.jpg") %>
  </div>
  <div class="packages-first-photo-for-big-screen" style="margin-top: -15em;">
    <%= cl_image_tag ("m-9711_ocq1ph.jpg") %>
  </div>
  <div class="packages-cards">
    <div class="packages-card">
      <div class="packages-card-image">
        <%= image_tag ("young2-moon.png") %>
      </div>
      <div class="package-card-header">
        <h5><b>Young Moon</b></h5>
      </div>
        <div class="packages-card-body">
          <ul>
          <li><span>Photoshooting up to 4hours</span></li>
          <li>150 retouched photos</li>
          <li>In the USB stick</li>
          <li>Access to the online photo gallery</li>
          </ul>
          <p>- 750EUR -</p>
        </div>
    </div>
    <div class="packages-card packages-card-down">
      <div class="packages-card-image">
        <%= image_tag ("half-moon.png") %>
      </div>
      <div class="package-card-header">
        <h5><b>Half Moon</b></h5>
      </div>
        <div class="packages-card-body">
          <ul>
          <li>Photoshooting up to 8hours</li>
          <li>300 retouched photos</li>
          <li>In the USB stick</li>
          <li>Walnut wood box 25photos</li>
          <li>Drone pictures</li>
          <li>Access to the online photo gallery</li>
          <li>5 photos will be prepared next day</li>
          </ul>
          <p>- 1200EUR -</p>
        </div>
    </div>
    <div class="packages-card packages-card-down donw-fullmoon">
      <div class="packages-card-image">
        <%= image_tag ("full-moon.png") %>
      </div>
      <div class="package-card-header">
        <h5><b>Full Moon</b></h5>
      </div>
        <div class="packages-card-body">
          <ul>
            <li>Photoshooting up to 12 hours</br>
              From the preparation
              till the first dance</li>
            <li>450 retouched photos</li>
            <li>In the USB stick</li>
            <li>Walnut wood box 25photos</li>
            <li>Drone pictures</li>
            <li>Access to the online photo gallery</li>
            <li>5 photos will be prepared next day</li>
          </ul>
          <p>- 1400EUR -</p>
        </div>
    </div>
  </div>
  <div class="book-appoitment">
    <div class="book-appoitment-header">
      <h5>Book an appointment with me</h5>
    </div>
    <div class="book-appoitment-angebot">
      <h5>Get your 10% off</h5>
    </div>
  </div>
<!-- Calendly inline widget begin -->
<div class="container calendly">
  <div class="calendly-inline-widget" data-url="https://calendly.com/yourstorybyovidijus/30min?primary_color=a89f8a" style="min-width:320px;height:630px;"></div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
  <!-- Calendly inline widget end -->
</div>
<div class="karusele-card-combination karusele-ad">
  <div class="karusele-card">
      <h5>That moment when<br/>
        my heart skips a beat</h5>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide karusele" data-ride="carousel">
   <ol class="carousel-indicators karusele-indicators">
     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
   </ol>
   <div class="carousel-inner">
     <div class="carousel-item active text-center p-4">
         <p>“Hi Ovidijus, we JUST finished looking at the photos! We really love them and we Are so happy to see them! You captured so many moments that we had forgotten! Thank you so much! They’re really great! And thank you for sending them on the usb stick and for the nice packaging! It feels like we’re experiencing the entire wedding again “
        </p><span class="review">- Julia & Arron  || Wedding in Berlin -</span>
     </div>
     <div class="carousel-item text-center p-4">
         <p>"Our photoshoot in Rhodes was an amazing experience! We had a great time and magical moments. Ovi makes you feel so comfortable in front of the camera, so that you forget about everything. He has a special eye for capturing the perfect moments!"
         </p><span class="review">- Hanna & Hazem || Boho Inspired wedding in Rhodes -</span>
     </div>
     <div class="carousel-item text-center p-4">
         <p>"Very experienced and friendly photographer with a great attitude to help you out! If you would love the personal photoshoot or to remember the special occasion he is the person to have by your side. He will help you out with your angles, poses, best light and you will end up having beautiful pictures to remember the moment by. Highly recommend."
         </p>
         <span class="review">- Gabriele || Album Artwork -</span>
     </div>
     <div class="carousel-item text-center p-4">
         <p> "I had a few beautiful photoshoots with Ovidijus that truly made me feel special. He will definitely make sure to get those perfect shots that I will cherish forever. Highly recommend this professional photographer for yourself or your events!"
         </p><span class="review">- Raimonda || Summer Beach photoshoot -</span>
     </div>
   </div>
   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" style="display: none" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
     <span class="carousel-control-next-icon" style="display: none" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
  </div>
</div>
<div class="row wedding-row index-cards">

  <!-- <div class="col-12 col-lg-3"> -->

    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("1_cover_photo_dwctxb.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text">Julia & Aaron - Romantic Boat Wedding || Berlin</h2>
        </div>
    </div>
  <!-- </div>
first-card-end> -->
  <!-- <div class="col-12 col-lg-3"> -->
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("LR-cover.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text">Liepa & Rokas - Boho inspired couple || Vilnius</h2>
        </div>
    </div>
  <!-- </div> -->
  <!-- second-card-end> -->

<div class="card wedding-card" style="width: 18rem;">
  <div class="card-img-top">
    <%= cl_image_tag ("m-1721_nszq1f.jpg") %>
  </div>
    <div class="card-body">
      <h2 class="card-text">Liepa & Jurgis - A sunset in the sunflower field || Lithuania</h2>
    </div>
</div>
<!-- </div> -->
 <!-- third-card-end> -->
</div>
  <div class="instagram-section">
    <div class="green-line">
    <br>
    </div>
    <div class="instagram">
    <a href="https://www.instagram.com/yourstorybyovidijus/">
        <i class="fab fa-instagram"><h6>your story by ovidijus</h6></i></a>
        </div>
        <div class="container instagram-ph">

          <!-- LightWidget WIDGET -->  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/50647fe10bd85905a10fc8ee18e601d7.html" scrolling="no" allowtransparency="true" class="lightwidget-widget"></iframe>
</div>
</div>
<%= render 'shared/footer' %>
