<div class="banner" id="banner-homepage">
  <div class="banner-cards">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="my-carousel carousel-inner">

    <div class="carousel-item active">
      <%= image_tag ("home1.jpg") %>
    </div>
    <div class="carousel-item">
      <%= image_tag ("home2.jpg") %>
    </div>
    <div class="carousel-item">
      <%= image_tag ("home3.jpg") %>
    </div>
    <div class="carousel-item">
      <%= image_tag ("home4.jpg") %>
    </div>
    <div class="carousel-item">
      <%= image_tag ("home5.jpg") %>
    </div>
    <div class="carousel-item">
      <%= image_tag ("home6.jpg") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
