<!-- <div class="banner" id="banner-homepage">
  <div class="banner-cards"> -->

<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="my-carousel carousel-inner"> -->

    <div class="small-b" style="margin-bottom: 50px;">
      <%= cl_image_tag ("trial_zsz1qt.jpg") %>
    </div>
    <div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 70%;">
      <%= image_tag ("home2.jpg") %>
    </div>
    <div class="container" style="margin-bottom: 50px; width: 60%;">
      <%= image_tag ("home3.jpg") %>
    </div>
    <div class="container" style="margin-bottom: 50px; width: 60%;">
      <%= image_tag ("home4.jpg") %>
    </div>
    <div class="container" style="margin-bottom: 50px; width: 60%;">
      <%= image_tag ("home5.jpg") %>
    </div>
    <div class="container" style="margin-bottom: 50px; width: 60%;">
      <%= image_tag ("home6.jpg") %>
    </div>
  <!-- </div> -->
  <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div> -->

<!-- <section class="gallery">
  <div class="container">
    <div class="grid">
       <div class="col-12">
       <div class="first">
      <div class="col-12  col-lg-4">

        <figure class="img-container">
          <img src="https://source.unsplash.com/8b1cWDyvT7Y" class="img-thumbnail">
          <figcaption class="img-content">
            <h2 class="title">Smart Watch</h2>
            <h3 class="category">Showcase</h3>
          </figcaption>
          <span class="img-content-hover">
            <h2 class="title">Smart Watch</h2>
            <h3 class="category">Showcase</h3>
          </span>
        </figure>
      </div>
      <div class="col-12  col-lg-4">
        <figure class="img-container">
          <img src="https://source.unsplash.com/8b1cWDyvT7Y" class="img-thumbnail">
          <figcaption class="img-content">
            <h2 class="title">Camera Film</h2>
            <h3 class="category">Showcase</h3>
          </figcaption>
          <span class="img-content-hover">
            <h2 class="title">Camera Film</h2>
            <h3 class="category">Showcase</h3>
          </span>
        </figure>
      </div>
      <div class="col-12  col-lg-4">
        <figure class="img-container">
          <img src="https://source.unsplash.com/8b1cWDyvT7Y" class="img-thumbnail">
          <figcaption class="img-content">
            <h2 class="title">Smart Watch</h2>
            <h3 class="category">Showcase</h3>
          </figcaption>
          <span class="img-content-hover">
            <h2 class="title">Smart Watch</h2>
            <h3 class="category">Showcase</h3>
          </span>
        </figure>
      </div>
    </div>
      <div class="col-12  ccol-lg-6">
        <figure class="img-container">
          <img src="https://source.unsplash.com/JYGnB9gTCls" />
          <figcaption class="img-content">
            <h2 class="title">Phone</h2>
            <h3 class="category">Showcase</h3>
          </figcaption>
          <span class="img-content-hover">
            <h2 class="title">Phone</h2>
            <h3 class="category">Showcase</h3>
          </span>
        </figure>
      </div>
      <div class="second" style="display:flex;">
      <div class="col-12  col-lg-6">
        <figure class="img-container">
          <img src="https://source.unsplash.com/-RBuQ2PK_L8" />
          <figcaption class="img-content">
            <h2 class="title">Keyboard</h2>
            <h3 class="category">Showcase</h3>
          </figcaption>
          <span class="img-content-hover">
            <h2 class="title">Keyboard</h2>
            <h3 class="category">Showcase</h3>
          </span>
        </figure>
      </div>
      <div class="col-12  col-lg-6">
        <figure class="img-container">
          <img src="https://source.unsplash.com/-RBuQ2PK_L8" />
          <figcaption class="img-content">
            <h2 class="title">Keyboard</h2>
            <h3 class="category">Showcase</h3>
          </figcaption>
          <span class="img-content-hover">
            <h2 class="title">Keyboard</h2>
            <h3 class="category">Showcase</h3>
          </span>
        </figure>
      </div>
      </div>
      <div class="col-12 ">
        <figure class="img-container">
          <img src="https://source.unsplash.com/P44RIGl9V54" />
          <figcaption class="img-content">
            <h2 class="title">Wrist Watch</h2>
            <h3 class="category">Showcase</h3>
          </figcaption>
          <span class="img-content-hover">
            <h2 class="title">Wrist Watch</h2>
            <h3 class="category">Showcase</h3>
          </span>
        </figure>
      </div>
    </div>
  </div>
</div>
</section> -->

<!-- <div class="img-thumbnail">
      <%= image_tag ("home3.jpg") %>
    </div>
 -->

