
    <div class="small-b" style="margin-bottom: 50px;">
      <%= cl_image_tag ("trial_zsz1qt.jpg") %>
    </div>
    <div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 70%;">
      <%= image_tag ("home2.jpg") %>
    </div>
    <div class="container" style="margin-bottom: 50px; width: 60%;">
      <%= image_tag ("home3.jpg") %>
    </div>
    <div class="container" style="margin-bottom: 50px; width: 60%;">
      <%= image_tag ("home4.jpg") %>
    </div>
    <div class="container" style="margin-bottom: 50px; width: 60%;">
      <%= image_tag ("home5.jpg") %>
    </div>
    <div class="container" style="margin-bottom: 50px; width: 60%;">
      <%= image_tag ("home6.jpg") %>
    </div>
