<div class="home-page">

<!-- <div class="banner" id="banner-homepage">
  <div class="banner-cards"> -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="my-carousel carousel-inner">

    <div class="carousel-item active">
      <%= image_tag ("home1.jpg") %>
    </div>
    <div class="carousel-item">
      <%= image_tag ("home2.jpg") %>
    </div>
    <div class="carousel-item">
      <%= image_tag ("home3.jpg") %>
    </div>
    <div class="carousel-item">
      <%= image_tag ("home4.jpg") %>
    </div>
    <div class="carousel-item">
      <%= image_tag ("home5.jpg") %>
    </div>
    <div class="carousel-item">
      <%= image_tag ("home6.jpg") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- </div>
</div> -->
<!--
  <div class="col-8 col-md-6 col-lg-6">
    <div class="cards">
      <div class="card card-homepage" style="width: 18rem;">
   <%= image_tag ("ovidijus.jpeg") %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
</div>
</div> -->

<div class="container">
  <div class="row">
<!-- <div class="love-about"> -->
    <div class="pic-about">

    <div class="col-8 col-md-6 col-lg-4">

<div class="card" style="width: 18rem;" id="card-homepage" style="max-width: 540px; text-align: center;">
  <%= image_tag ("ovidijus.jpeg") %>
  <div class="card-body">
    <h4 class="card-title">Hi!</h4>
    <h4 class="card-title">My name is <strong> Ovidijus</strong></h4>
    <p class="card-text">
      I am here to capture the most beutiful moments of your life</p>
     <a href="https://www.instagram.com/ovidijus.maslovas/">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/maslovas.ovidijus/">
        <i class="fab fa-facebook"></i>
      </a>
  </div>
</div>
</div>

<div class="about-card">
  <!-- <div class="col-8"> -->
  <h3> PLANET EARTH IS home to some spectacular relics from bygone eras, constructions that seem to defy the technological capabilities of their time either because they’re too big, too heavy, or too complex.

As such, some suggest the ancient builders of the Egyptian pyramids, the Nasca lines, and others were following an extraterrestrial instruction manual. Perhaps the hands that crafted these sites weren’t really of this world.

To be sure, it’s fun to think about whether aliens have visited Earth. After all, humans are on the threshold of expanding our reach in space, and places like Mars are in our sight. But the truth is, there’s no evidence suggesting that aliens have ever been here. And invoking a supernatural explanation for some of the most monumental of human achievements means skipping over the fascinating ways in which prehistoric civilizations managed to make some of the largest and most enigmatic constructions on Earth. </h3>
  </div>

</div>

</div>
</div>
<br>
<br>
<br>
<br>


<div class="container" style="background-color: #e5d1c5; display:flex; position: relative; top:800px; height: 170px;">
  <div class="love-story">
  <!-- <div class="col-8"> -->
  <div class="header-story" style="position: relative; right: 245px;bottom: 19px;"><h5>Let's make your...</h5>
    <br>
    <br>
   <h4>....dream come true</h4>
  <h6> As such, some suggest the ancient builders of the Egyptian pyramids,
  <br>
    the Nasca lines, and others were following an extraterrestrial instruction manual.
    <br>
     Perhaps the hands that crafted these sites weren’t really of this world.
</h6>
  </div>
  <div class="story-phh" style="position: relative; bottom: 172px;left: 554px; width: 14%;">
    <%= image_tag ("home5.jpg") %>
  </div>
  <div class="story-ph" style="position: relative; bottom: 333px;left: 743px; width: 31%;">
    <%= image_tag ("home6.jpg") %>
  </div>
  </div>
  </div>

  <div class="container" style="display: flex; justify-content: space-evenly; margin-top: 900px;">
    <div class="instagram" style="position: relative;top: 50px;right: 90px;">
    <a href="https://www.instagram.com/ovidijus.maslovas/">
        <i class="fab fa-instagram" style="font-size: 30px"><h6>Ovidijus Maslovas</h6></i>
        </div>
        <div class="intagram-ph" style="position: relative;right: 175px;">
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/19c2c5725d9f5cf087a0527998d5b0e1.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:210%;border:0;overflow:hidden;"></iframe>
</div>
</div>
</div>
</div>


