<div class="home-page">

<!-- <div class="banner" id="banner-homepage">
  <div class="banner-cards"> -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="my-carousel carousel-inner">

    <div class="carousel-item active" id="slide1">
      <%= image_tag ("home1.jpg") %>
    </div>
    <div class="carousel-item" id="slide2">
      <%= image_tag ("home2.jpg") %>
    </div>
    <div class="carousel-item"id="slide3">
      <%= image_tag ("home3.jpg") %>
    </div>
    <div class="carousel-item"id="slide4">
      <%= image_tag ("home4.jpg") %>
    </div>
    <div class="carousel-item"id="slide5">
      <%= image_tag ("home5.jpg") %>
    </div>
    <div class="carousel-item"id="slide6">
      <%= image_tag ("home6.jpg") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>
<br>
<br>

<div class="kopustas" style="background-color: #a88677; display:flex; position: relative; top:800px; height: 252px;">
  <div class="love-story">
  <!-- <div class="col-8"> -->
  <div class="header-story" style="position: relative; right: 245px;bottom: 19px;"><h5>Let's make your...</h5>
    <br>
    <br>
   <h4>....dream come true</h4>
  <p> As such, some suggest the ancient builders<br>the Nasca lines, and others were following
  <br>
    the Nasca lines, and others were following<br>an extraterrestrial instruction manual.
    <br>
    the Nasca lines, and others were following<br> an extraterrestrial instruction manual.
    <p>

  </div>
  <div class="story-phh" style="position: relative; bottom: 248px;left: 34px; width: 25%;">
    <%= image_tag ("home3.jpg") %>
  </div>
  <div class="story-ph" style="position: relative; bottom: 505px;left: 779px; width: 31%;">
    <%= image_tag ("home6.jpg") %>
  </div>
  </div>
  </div>
  <br>
<br>
<br>
<br>
  <div class="container">
    <div class="container" style="width: 25%;">
  <div class="header-main" style="position: relative;text-align: center; top: 850px; background-color: #e5d1c5;">
    <h6> I Capture beauriful moments for people who are madly inlove</h6>
  </div>
  </div>
  <div class="container" style="position: relative;top: 700px;">
<div class="row">
<!-- <div class="box"> -->
  <div class="col-12 col-lg-3">
<div class="card wedding-card" style="width: 18rem; height: 260px; ">
  <%= link_to juliarron_path do %>
  <div class="imgBx">
  <%= cl_image_tag("1_cover_photo_dwctxb.jpg") %>
</div>
<div class="card-body">
     <h2 class="card-title">Julia & Arron </h2>
<% end %>
</div>
  </div>
</div>
<!-- </div> -->
<div class="col-12 col-lg-5">
<div class="card wedding-card" style="width: 18rem; height: 260px; ">
  <%= link_to lieparokas_path do %>
   <div class="imgBx">
  <%= cl_image_tag("LR-cover.jpg") %>
</div>
  <div class="card-body">
    <h2 class="card-title">Liepa & Rokas</h2>
    <% end %>
  </div>
  </div>
</div>
<div class="col-12 col-lg-3">
<div class="card wedding-card" style="width: 18rem; height: 260px; ">
  <%= link_to ebrujosef_path do %>
  <div class="imgBx">
  <%= cl_image_tag("cover_lqzkch.jpg") %>
</div>
  <div class="card-body" style="text-decoration:none;">
    <h2 class="card-title">Ebru & Josef</h2>
    <% end %>
  </div>
</div>
</div>
  </div>
</div>
</div>

  <div class="saldainis">
    <div class="instagram" style="position: relative;bottom: -73px;left: 300px;">
    <a href="https://www.instagram.com/ovidijus.maslovas/">
        <i class="fab fa-instagram" style="font-size: 30px;top: 319px; right: 83px;position: relative;"><h6>your story by ovidijus</h6></i></a>
        </div>
        <div class="intagram-ph" style="position: relative;left: 436px; top: 346px;">
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/4c242f737086575eb4bca092fd61dec1.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:210%;border:0;overflow:hidden;"></iframe>
</div>
<div class="brownline">
<br>
</div>
</div>
<div class="question"><h1>Ask me a question</h1></div>
  <div id="contact">
    <%= render 'contact_form' %>
  </div>
</div>


