
<div class="carousel-for-mobile">
<%= render 'shared/carousel' %>
</div>


<div id="carouselExampleControls" class="carousel slide carousel-for-web" data-ride="carousel">
  <div class="my-carousel carousel-inner">

    <div class="carousel-item active" id="slide1">
       <%= cl_image_tag("m-8200_pvazsa.jpg") %>
    </div>
    <div class="carousel-item"id="slide6">
      <%= cl_image_tag("m-2769_blx7jj.jpg") %>
    </div>
    <div class="carousel-item" id="slide2">
      <%= image_tag ("home3.jpg") %>
    </div>
    <div class="carousel-item"id="slide3">
       <%= cl_image_tag("m-2662_pfjz6k.jpg") %>
    </div>
    <div class="carousel-item"id="slide4">
       <%= cl_image_tag("m-3856_websize_sjsqos.jpg") %>
    </div>
    <div class="carousel-item"id="slide5">
       <%= cl_image_tag("m-7447_cr9amw.jpg") %>
    </div>
    <div class="carousel-item" id="slide2">
      <%= image_tag ("home3.jpg") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="first-header">
  <h1>Desire to capture your perfect momement?</h1>
</div>
<div class="photo-text-for-big-screen">
  <div class="photo-for-big-screen">
    <div class="header1-photo">
       <%= cl_image_tag("as_miske_rgnz0s.jpg") %>
    </div>
  </div>
<div class="first-header-welcome">
  <div class="welcome-header">
    <h3>Welcome!</h3>
  </div>
  <div class="first-header-more">
    <p>Feel free to browse around.<br>
        Here you will find more info about my passion <br> photography and some aspects of my life</p>
        </div>
        <div class="rodykle">
             <%= image_tag("rodykle.png") %>
           </div>
        <div class="first-header-sendme">
        <a href="mailto:hello@yourstorybyovidijus.com"><p>I am happy to answer all your questions  <br> send me a messege </p></a>
  </div>
</div>
</div>
<%= render 'shared/phototext' %>

</div>
<div class="second-header-memories">
  <div class="header-story"><h5>Capturing <br>Memories</h5>
    <div class="leaves">
        <%= image_tag("du-sukibelapeliai.png") %>
      </div>
      <div class="memories-photo">
        <!-- <h4>Memories</h4> -->
        <div class="memories-paragraph">
          <p> Ageing is a funny thing. One's perspective of life changes. Time is passing by and sometimes
          you think, oh i wish I had that picture. In my opinion a photograph is like a time
           capsule. It brings you memories. It can bring you those warm feelings  you know what I
           mean, what you looked like, what thoughts were going through your mind, where you were
           in life and what mattered the most.
             <p>
        </div>
             <div class="story-phh">
               <%= cl_image_tag("seimos_fotosesija_9_of_10_wkb1qf.jpg") %>
             </div>
             <div class="story-ph">
                <%= cl_image_tag("m-4583_websize_wufd2i.jpg") %>
             </div>
            </div>
       </div>
  </div>


  <!-- <%= render 'shared/kopustas' %> -->
  <br>
<br>
<br>
<br>

<div class="header2">
  <div class="photo-text2">
    <div class="header2-photo">
      <%= cl_image_tag("ant_kalno_saulelydis_qs81xh.jpg") %>
    </div>
    <div class="header2-text">
      <h3>I will be there for those special moments. I will be your best friend to feel relaxed, <br>
       comfortable, laugh at silly things and the most important, enjoy each others<br>
        company where you are right now.</h3><br>
        <h2><%= link_to "Let’s meet and plan something great together!", bookme_path,  class: "nav-link" %></h2>
    </div>
  </div>
</div>
<%= render 'shared/header2' %>
<div class="book-call">
  <div class="book-call-text">
    <a href="https://calendly.com/yourstorybyovidijus/30min?month=2021-03">
      <h5>Book an appoitment with me</h5></a>
  </div>
  <div class="book-call-arrow">
      <%= cl_image_tag("rodykle3_tr_k8r77j.jpg") %>
  </div>
  <div class="book-call-angebot">
    <h5>Get your 10% off</br> 
      <span>(valid 2 weeks)</span></h5>
  </div>
</div>
<div class="karusele-card-combination">
  <div class="karusele-card">
      <h5>That moment when<br/>
        my heart skips a beat</h5>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide karusele" data-ride="carousel">
   <ol class="carousel-indicators karusele-indicators">
     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
   </ol>
   <div class="carousel-inner">
     <div class="carousel-item active text-center p-4">
         <p>“Hi Ovidijus, we JUST finished looking at the photos! We really love them and we Are so happy to see them! You captured so many moments that we had forgotten! Thank you so much! They’re really great! And thank you for sending them on the usb stick and for the nice packaging! It feels like we’re experiencing the entire wedding again “</p>
     </div>
     <div class="carousel-item text-center p-4">
         <p>"Our photoshoot in Rhodes was an amazing experience! We had a great time and magical moments. Ovi makes you feel so comfortable in front of the camera, so that you forget about everything. He has a special eye for capturing the perfect moments!"</p>
     </div>
     <div class="carousel-item text-center p-4">
         <p>"Very experienced and friendly photographer with a great attitude to help you out! If you would love the personal photoshoot or to remember the special occasion he is the person to have by your side. He will help you out with your angles, poses, best light and you will end up having beautiful pictures to remember the moment by. Highly recommend.""</p>
     </div>
     <div class="carousel-item text-center p-4">
         <p> "I had a few beautiful photoshoots with Ovidijus that truly made me feel special. He will definitely make sure to get those perfect shots that I will cherish forever. Highly recommend this professional photographer for yourself or your events!"</p>
     </div>
   </div>
   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" style="display: none" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
     <span class="carousel-control-next-icon" style="display: none" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
  </div>
</div>
<div class="row wedding-row index-cards">

  <!-- <div class="col-12 col-lg-3"> -->
    <%= link_to juliaaron_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("1_cover_photo_dwctxb.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Julia & Aaron</b>- Romantic Boat Wedding || Berlin</h2>
        </div>
    </div>
  <!-- </div>
  <% end %> <!-- first-card-end> -->
  <!-- <div class="col-12 col-lg-3"> -->
      <%= link_to lieparokas_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("LR-cover.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Liepa & Rokas</b> - Boho inspired couple || Vilnius</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- second-card-end> -->
  <%= link_to liepajurgis_path do %>
<div class="card wedding-card" style="width: 18rem;">
  <div class="card-img-top">
    <%= cl_image_tag ("m-1721_nszq1f.jpg") %>
  </div>
    <div class="card-body">
      <h2 class="card-text"><b><b>Liepa & Jurgis</b> - A sunset in the sunflower field || Lithuania</h2>
    </div>
</div>
<!-- </div> -->
<% end %> <!-- third-card-end> -->
</div>
  <div class="instagram-section">
    <div class="green-line">
    <br>
    </div>
    <div class="instagram">
    <a href="https://www.instagram.com/yourstorybyovidijus/">
        <i class="fab fa-instagram"><h6>your story by ovidijus</h6></i></a>
        </div>
        <div class="container instagram-ph">

          <!-- LightWidget WIDGET -->  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/50647fe10bd85905a10fc8ee18e601d7.html" scrolling="no" allowtransparency="true" class="lightwidget-widget"></iframe>
</div>
</div>
