<div class="small-banner">
    <%= cl_image_tag("wed-ban.jpg") %>
  </div>
<div class="wedding-row">
<!-- <div class="box"> -->
  <div class="col-12 col-lg-3">
<div class="card wedding-card" style="width: 18rem; height: 260px; ">

  <div class="imgBx">
  <%= cl_image_tag ("m-1721_nszq1f.jpg") %>
</div>
 <%= link_to liepajurgis_path do %>
<div class="card-body" style="text-decoration:none;">
     <h2 class="card-title"style="position: relative;"><b>Liepa & Jurgis</b> - A sunset in the sunflower field || Lithuania</h2>
<% end %>
</div>
  </div>
</div>
<!-- </div> -->
<div class="col-12 col-lg-3">
<div class="card wedding-card" style="width: 18rem; height: 260px; ">

   <div class="imgBx">
  <%= cl_image_tag("m-9048_tmiekx.jpg") %>
</div>
<%= link_to hannahazem_path do %>
  <div class="card-body" style="text-decoration:none;">
    <h2 class="card-title" style="position: relative;"><b>Hanna & Hazem</b> - Boho Romance || Greece</h2>
    <% end %>
  </div>
  </div>
</div>
</div>
