<div class="small-banner">
    <%= cl_image_tag("web_up_love_story_l14s0j.jpg") %>
  </div>
<div class="row wedding-row">
 <!-- <div class="col-12 col-lg-3"> -->
    <%= link_to verena_frank_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m2-5292_ljpqib.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Verena & Frank</b> - Lake Picnic || Austria</h2>
        </div>
    </div>
  <!-- </div>
  <% end %> <!-- VerenaFrank-card-end> -->
     <%= link_to rusne_dennis_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m2-7110_qxfudw.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Rusne & Dennis </b>  - Sensual Engagement || Berlin</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- Rusne_Dennis-card-end> -->
  <!-- <div class="col-12 col-lg-3"> -->
    <%= link_to liepa_jurgis_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m-1721_nszq1f.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Liepa & Jurgis</b> - A sunset in the sunflower field || Lithuania</h2>
        </div>
    </div>
  <!-- </div>
  <% end %> <!-- first-card-end> -->
  <!-- <div class="col-12 col-lg-3"> -->
      <%= link_to celine_jan_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m-9662_hiyzoj.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Celine & Jan</b> - Cozy getaway in the nature || Berlin</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- second-card-end> -->
  <!-- <div class="col-12 col-lg-3"> -->
      <%= link_to victoria_emanuele_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m2-2402_akjfrs.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Victoria & Emanuele</b>  - Life in a move || Berlin</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- third-card-end> -->
    <!-- <div class="col-12 col-lg-3"> -->
      <%= link_to angela_julin_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m2-5265_yy3btw.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Angela & Julin</b>  - Let's got to Mitte to explore || Berlin</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- fourth-card-end> -->
      <!-- <div class="col-12 col-lg-3"> -->
      <%= link_to tove_isaak_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m2-_pqfdec.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Tove & Isaak</b>  - Swedish Love || Berlin</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- 5th-card-end> -->
    <!-- <div class="col-12 col-lg-3"> -->
      <%= link_to pascal_mark_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m2-6579_wcuwdh.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Pascal & Mark </b>  - He said yes! || Berlin</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- 6th-card-end> -->
      <!-- <div class="col-12 col-lg-3"> -->
      <%= link_to yoli_phillipp_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m2-9852_vme7eb.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Yoli & Phillipp </b>  - All About those Roses || Berlin</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- 7th-card-end> -->
        <!-- <div class="col-12 col-lg-3"> -->
      <%= link_to josiane_sergio_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m2-7504_dwe2ym.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Josiane & Sergio </b>  - Three Hearts Beating || Berlin</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- 8th-card-end> -->
</div>


