<div class="packages-first-photo-for-mobile">
  <%= cl_image_tag ("m-9711-2_vhzkgt.jpg") %>
</div>
<div class="packages-first-photo-for-big-screen">
  <%= cl_image_tag ("m-9711_ocq1ph.jpg") %>
</div>
<div class="packages-cards">
  <div class="packages-card">
    <div class="packages-card-image">
      <%= image_tag ("young2-moon.png") %>
    </div>
    <div class="package-card-header">
      <h5><b>Young Moon</b></h5>
    </div>
      <div class="packages-card-body">
        <ul>
        <li><span>Photoshooting up to 4hours</span></li>
        <li>150 retouched photos</li>
        <li>In the USB stick</li>
        <li>Access to the online photo gallery</li>
        </ul>
        <p>- 850EUR -</p>
      </div>
  </div>
  <div class="packages-card packages-card-down">
    <div class="packages-card-image">
      <%= image_tag ("half-moon.png") %>
    </div>
    <div class="package-card-header">
      <h5><b>Half Moon</b></h5>
    </div>
      <div class="packages-card-body">
        <ul>
        <li>Photoshooting up to 8hours</li>
        <li>300 retouched photos</li>
        <li>In the USB stick</li>
        <li>Walnut wood box 25photos</li>
        <li>Drone pictures</li>
        <li>Access to the online photo gallery</li>
        <li>5 photos will be prepared next day</li>
        </ul>
        <p>- 1400EUR -</p>
      </div>
  </div>
  <div class="packages-card packages-card-down donw-fullmoon">
    <div class="packages-card-image">
      <%= image_tag ("full-moon.png") %>
    </div>
    <div class="package-card-header">
      <h5><b>Full Moon</b></h5>
    </div>
      <div class="packages-card-body">
        <ul>
          <li>Photoshooting up to 12 hours</br>
              From the preparation
              till the first dance</li>
          <li>450 retouched photos</li>
          <li>In the USB stick</li>
          <li>Walnut wood box 25photos</li>
          <li>Drone pictures</li>
          <li>Access to the online photo gallery</li>
          <li>5 photos will be prepared next day</li>
        </ul>
        <p>- 1600EUR -</p>
      </div>
  </div>
</div>
  <div class="packages-second-photo">
    <%= cl_image_tag ("m-9756_xw6kro.jpg") %>
  </div>
  <div class="packages-box">
    <div class="packages-box-image">
        <%= image_tag ("du-lapeliai.png") %>
    </div>
    <div class="packages-box-header">
      <h5>Get your wooden box with printed pictures </br>as post cards</h5>
    </div>
    <div class="packages-box-text">
      <p>* Hold them in your hands and</br>
        Remember those sincere moments *</p>
    </div>
    <div class="packages-box-mirror-image">
        <%= cl_image_tag ("du_lapeliai_apversti_xxoxma.png") %>
    </div>
  </div>
  <div class="packages-poto-combination">
    <div class="packages-third-photo">
      <%= cl_image_tag ("siaura_kftebz.jpg") %>
    </div>
    <div class="packages-fourth-photo">
      <%= cl_image_tag ("m-9728crop_afxhxz.jpg") %>
    </div>
  </div>

  <div class="packages-photo-combination-for-big-screen">
    <div class="combination-first-photo">
      <%= cl_image_tag ("m-9756-2_rw9qii.jpg") %>
    </div>
    <div class="combination-second">
      <div class="combination-text packages-box">
         <div class="packages-box-image">
              <%= image_tag ("du-lapeliai.png") %>
          </div>
          <div class="packages-box-header">
            <h5>Get your wooden box with printed pictures </br>as post cards</h5>
          </div>
          <div class="packages-box-text">
            <p>* Hold them in your hands and</br>
              Remember those sincere moments *</p>
          </div>
          <div class="packages-box-mirror-image">
              <%= cl_image_tag ("du_lapeliai_apversti_xxoxma.png") %>
          </div>
      </div>
      <div class="combination-third-photo">
        <%= cl_image_tag ("m-9728crop_afxhxz.jpg") %>
      </div>
    </div>
  </div>
