<%= render 'shared/small-banner' %>
<div class="container" style="margin-bottom: 100px;">
<div class="row">
<!-- <div class="box"> -->
  <div class="col-12 col-lg-4">
<div class="card wedding-card" style="width: 18rem; height: 260px; ">
  <%= link_to annafelix_path do %>
  <div class="imgBx">
  <%= cl_image_tag ("trial_zsz1qt.jpg") %>
</div>
<div class="card-body" style="text-decoration:none;">
     <h2 class="card-title" style="text-decoration:none;">Anna&Felix</h2>
   <!--  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    <!-- <a href="#" class="btn btn-outline-secondary">Anna&Felix</a> -->
<% end %>
</div>
  </div>
</div>
<!-- </div> -->
<div class="col-12 col-lg-4">
<div class="card wedding-card" style="width: 18rem; height: 260px; ">
  <%= link_to annafelix_path do %>
   <div class="imgBx">
  <%= image_tag ("home2.jpg") %>
</div>
  <div class="card-body" style="text-decoration:none;">
    <h2 class="card-title">Sarah&David</h2>
    <% end %>
  </div>
  </div>
</div>
<div class="col-12 col-lg-4">
<div class="card wedding-card" style="width: 18rem; height: 260px; ">
  <%= link_to annafelix_path do %>
  <div class="imgBx">
  <%= image_tag ("home3.jpg") %>
</div>
  <div class="card-body" style="text-decoration:none;">
    <h2 class="card-title">Sarah&David</h2>
    <% end %>
  </div>
</div>
</div>
<div class="col-12 col-lg-4">
<div class="card wedding-card" style="width: 18rem; height: 260px; ">
  <%= link_to annafelix_path do %>
  <div class="imgBx">
  <%= image_tag ("home4.jpg") %>
</div>
  <div class="card-body" style="text-decoration:none;">
    <h2 class="card-title">Sarah&David</h2>
    <% end %>
  </div>
  </div>
</div>
</div>
</div>
