<div class="small-banner">
    <%= cl_image_tag("wed-ban.jpg") %>
  </div>
<div class="row wedding-row">
    <!-- <div class="col-12 col-lg-3"> -->
     <%= link_to fraser_jamie_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("J_T-6496_vjfhds.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Fraser & Jamie </b> Scottish wedding | Barcelona </h2>
        </div>
    </div>
  <!-- </div> -->
 <% end %> <!-- Fraser_Jamies-card-end> --> 
    <!-- <div class="col-12 col-lg-3"> -->
     <%= link_to charlotte_daniel_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m1-9432_t2yjmh.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Charlotte & Daniel</b> - Golden Autumn wedding || Berlin </h2>
        </div>
    </div>
  <!-- </div> -->
 <% end %> <!-- Christina & Niko-card-end> --> 
    <%= link_to christina_niko_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m1-3645_yb0gv6.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Christina & Niko</b> - Elopement at the mountains || Austria</h2>
        </div>
    </div>
  <!-- </div> -->
 <% end %> <!-- Christina & Niko-card-end> --> 
 <%= link_to thurlo_lars_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m1-0037_ga07n0.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Thurlo & Lars </b>  - Love in the City || Berlin</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- Thurlo & Lars-card-end> -->
    <!-- <div class="col-12 col-lg-3"> -->
    <%= link_to sandra_kristopher_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m2-1538_COVER_zsyj5l.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Sandra & Kristopher</b> - Boho Rooftop Wedding || Berlin</h2>
        </div>
    </div>
  <!-- </div> -->
 <% end %> <!-- 5th-card-end> --> 
  <!-- <div class="col-12 col-lg-3"> -->
      <%= link_to liepa_rokas_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("LR-cover.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Liepa & Rokas</b> - Boho inspired couple || Vilnius</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- second-card-end> -->
  <!-- <div class="col-12 col-lg-3"> -->
      <%= link_to ebru_josef_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("cover_lqzkch.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Ebru & Josef</b>  - Festive day in Suburbs || Berlin</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- third-card-end> -->

  <!-- <div class="col-12 col-lg-3"> -->
    <%= link_to hanna_hazem_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("m-9048_tmiekx.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Hanna & Hazem</b> - Boho Romance || Greece</h2>
        </div>
    </div>
  <!-- </div> -->
  <% end %> <!-- 4th-card-end> -->
  <!-- <div class="col-12 col-lg-3"> -->
    <%= link_to julia_aron_path do %>
    <div class="card wedding-card" style="width: 18rem;">
      <div class="card-img-top">
        <%= cl_image_tag ("1_cover_photo_dwctxb.jpg") %>
      </div>
        <div class="card-body">
          <h2 class="card-text"><b>Julia & Aaron</b>- Romantic Boat Wedding || Berlin</h2>
        </div>
    </div>
  <!-- </div>
  <% end %> <!-- first-card-end> -->
</div>
