<div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m1-4235_COVERIS_wzarpz.jpg") %>
    </div>


    <div class="name"><h1>Dovilė & Matteo </h1></div>
    
    <%= link_to greta_marcello_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to julia_aron_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m1-4397_zgpsvh.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-4410_ys3yx0.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-4367_aoxzws.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m1-4402_inmvs8.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-4073_caoerg.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-4115_xax114.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-4197_vaqtli.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-4168_ahxb9z.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m1-4387_wyoy9b.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-3948_ppg58b.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-3967_y2ussb.jpg") %></div>
  </figure>
</div>
</div>

<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -120px;"><%= cl_image_tag ("m1-4015_gcryky.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-4042_jttlhu.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-4062_p3irpm.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m1-4141_dosgjk.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-4174_arzjsv.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-4194_zeotrv.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-4199_sbvdcq.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-4248_zaevte.jpg") %></div>
<div class="container JA2" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-4291_gtzvfr.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-4296_f2qmql.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m1-4299_jaeui1.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-4328_vf1i9p.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-4334_lq9e65.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-4456_sirwqz.jpg") %></div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-4432_nlodlh.jpg") %></div>
</div>
