
 <div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m2-2304_rgvxms.jpg") %>
    </div>


    <div class="name"><h1>Greta & Marcello</h1></div>

    <%= link_to josiane_sergio_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to verena_frank_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m2-2318_sfn0ag.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-2266_v9llxe.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-2224_rklde9.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-2200_rv8fc8.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-2352_ogmsbr.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-2363_vx8bkq.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m2-2376_oxhn4a.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 2em;"><%= cl_image_tag ("m2-2382_arba_sitas_coveris_hiuujv.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 2em;"><%= cl_image_tag ("m2-8-2_cover_w5batn.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 2em;"><%= cl_image_tag ("m2-948_btlv4e.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 2em;"><%= cl_image_tag ("m2-8_fv31dv.jpg") %></div>

