
 <div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m-1721_nszq1f.jpg") %>
    </div>


    <div class="name"><h1>Liepa & Jurgis</h1></div>

    <%= link_to rusne_dennis_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to celine_jan_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m-1924_bkrrgc.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m-1889_tfkwdq.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-1679_c3am7r.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-1719_tkvrjr.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m-1907_bq5dxj.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-1651_p4ugvg.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-1664_abm3re.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m-1955_jhxxrq.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-1747_qauna0.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-1873_kmnhe8.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-1885_msayoc.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-1969_wk7hww.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-2042_exjvbe.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2070_om7mwt.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2069_mfvyav.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2095_g4ypch.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2074_tj1rut.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 35px;"><%= cl_image_tag ("m-2177_zxohi2.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2202_s9bw8q.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2158_eaf1o9.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2205_z50gns.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2230_bcnyh5.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2265_pmh3bp.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2310_er5hpp.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: -6em;"><%= cl_image_tag ("m-2312_x9rntw.jpg") %></div>
