
 <div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m2-6579_wcuwdh.jpg") %>
    </div>


    <div class="name"><h1>Pascal & Mark</h1></div>

    <%= link_to tove_isaak_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to yoli_phillipp_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m2-5802-3_ibcyk5.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-6548_u0xzmf.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-6556_c4np8l.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-6524_c5phj1.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-6567_r9njyj.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-6585_zu4lya.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-6584_re6y9f.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-5802-10_luqplo.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-5802-13_dekxve.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-5802-12_zhirnb.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-5802-14_y9f6rv.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 0rem;"><%= cl_image_tag ("m2-5802-3_ibcyk5.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 0rem;"><%= cl_image_tag ("m2-5802-4_azqf4c.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 0rem;"><%= cl_image_tag ("m2-5802-5_ffycw5.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 0rem;"><%= cl_image_tag ("m2-5802-6_okqybh.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-5802-15_dn2izn.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-5802_qbgjlu.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -5rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-5802-8_jecn8x.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-6366_shki51.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-6428_iozwy6.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-6518_g6w067.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -5em;"><%= cl_image_tag ("m2-6401_ef2ki0.jpg") %></div>
