
 <div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m2-7110_qxfudw.jpg") %>
    </div>


    <div class="name"><h1>Rusne & Dennis</h1></div>

    <%= link_to josiane_sergio_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to liepa_jurgis_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m2-7117_cover_gzzxav.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-7158_iillme.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7200_jdbgyl.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7208_dlixnv.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m2-7096_ov4mmc.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7080_hnumie.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7231_d2nrfg.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m2-7247_vnn4am.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-7250_u4hflq.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7261_nzmxdo.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7293_dvx2ad.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m2-7289_wsarjv.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7299_ppb43x.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7302_tkcmfj.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -5rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7313_e54smx.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7317_aip5kw.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7451_qazvjd.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7456_f3r3gc.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-7515_chxowg.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7492_jutmns.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7526_ivkzgk.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7555_vqsldp.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7577_gz85oz.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-7587_msoaeq.jpg") %></div>