
 <div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m2-_pqfdec.jpg") %>
    </div>


    <div class="name"><h1>Tove & Isaak</h1></div>

    <%= link_to pascal_mark_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to celine_jan_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m2-2-2_slez7c.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-5422_f4au4e.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-5302_aqz3bq.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-5303_ejrax6.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m2-5402_llkhzg.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-5328_o7nfxc.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-5329_fcyb8u.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m2-5403_thb0t2.jpg") %></div>
<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: 0px;"><%= cl_image_tag ("m2-5473_jkawks.jpg") %></div>
<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: 0px;"><%= cl_image_tag ("m2-5477_rcvhl9.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-5505_c8z6wt.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-5511_lr9akv.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m2-5487_nznlnv.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-5518_frlqm5.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-5587_ibepvn.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -5rem;"><%= cl_image_tag ("m2-5545_txdft1.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 0em;"><%= cl_image_tag ("m2-6_tnyv9k.jpg") %></div>
