
 <div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m2-5292_ljpqib.jpg") %>
    </div>


    <div class="name"><h1>Velena & Frank</h1></div>

    <%= link_to josiane_sergio_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to rusne_dennis_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m1-4883_mw7bfs.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m1-_cftm7j.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-4954_xwmvme.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-5003_ki8nit.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m1-4908_gkf8kl.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-4883_mw7bfs.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-4930_xhjzhc.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-4938_dlm2ax.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-5004_uszk5e.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-5018_yjc1u3.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m1-5051_h9xs5e.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-5052_s76meq.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-5070_gkmyg6.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-5100_dirpvw.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-5088_dvz7ch.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-5144_sdqfx7.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-5120_ntx0s9.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-5129_bky2md.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-5150_lqfqbo.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-5154_w9hzhl.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 35px;"><%= cl_image_tag ("m1-5165_fmsgke.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-5223cover_dsfnmw.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-5254_nj0qvr.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-5326_gdolkg.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-5293_i6wo93.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: -6em;"><%= cl_image_tag ("m1-5416_nvdluj.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-5380_rlldec.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-5455_v9jwmt.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-5491_smaxwv.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-5432_hc4kxy.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1--5_mqyio6.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1--3_y1ujfa.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m1--4_snvqpp.jpg") %></div>
