 <div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m2-5265_yy3btw.jpg") %>
    </div>


    <div class="name"><h1>Angela & Julin</h1></div>

    <%= link_to victoria_emanuele_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to tove_isaak_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m2-4612_ofqvcn.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-4641_cbkwtl.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-4667_zoicug.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-4645_crgnfa.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -6rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-4675_paxaz8.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-4684_v1cu2b.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m2-4727_iueelh.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-4708_deixgz.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-4754_r1brxg.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-4739_ailugi.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -8rem;"><%= cl_image_tag ("m2-4787_hahnb8.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 1em;"><%= cl_image_tag ("m2-4584_rw5gnf.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-4792_l12q2n.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-4887_qopauf.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-4896_skslcg.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -6rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-4787_dxroyh.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-4918_uhkqby.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m2-4933_a6xtxe.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-5054_ls7aj1.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-5068_fjzfq5.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-5098_yupjjs.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-5100_aylmh6.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-5103_msvkay.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 1em;"><%= cl_image_tag ("m2-5148_zdldou.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 1em;"><%= cl_image_tag ("m2-5155_kshd0r.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 1em;"><%= cl_image_tag ("m2-5166_pr4p6w.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 1em;"><%= cl_image_tag ("m2-5175_bnkho4.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-5183_i5aho4.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-5189_kkcxm6.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -5em;"><%= cl_image_tag ("m2-5225_ssskdk.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-5273_nviicw.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-5276_e4j3ks.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-5283_vzztve.jpg") %></div>
  </figure>
</div>
</div>
