
 <div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m-9662_hiyzoj.jpg") %>
    </div>


    <div class="name"><h1>Celine & Jan</h1></div>

    <%= link_to liepajurgis_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to victoria_emanuele_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m-9644_ci55qs.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m-9628_vbjuqy.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-9528_o1lvvy.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-9497_fnzfbc.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m-9368_rz1bri.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-9471_b7wry0.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-9441_gueevr.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m-9354_phgyei.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-8912_hj2bf4.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-8907_xwxlqz.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-9312_ktzmo6.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-9302_kjwic0.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-9148_t39g2r.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-8818_ii6yka.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-8856_jzahuz.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-8992_cux9ph.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-9045_unkwda.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 35px;"><%= cl_image_tag ("m-8963_jx7a8x.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-9088_urdyhm.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-9100_ofakje.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-9113_kr95ds.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-9145_qzmue0.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: -6em;"><%= cl_image_tag ("m-9240_dopd4x.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-9140_mkxywm.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-9126_s6z7kd.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-9145_qzmue0.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("835C6CD2668D1154EAAA27FCF2DE961F_bzti5q.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("9F5B34A6392FBA6D949696D82D8B454E_hpwizn.jpg") %></div>
