<div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m1-9432_t2yjmh.jpg") %>
    </div>


    <div class="name"><h1>Charlotte & Daniel</h1></div>
    
    <%= link_to christina_niko_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to fraser_jamie_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m1-8698_qpmtob.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-8718_nmerx5.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-8779_njyvvk.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m1-8112_z9dq0v.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-8089_f6ezsc.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-8099_xg5cia.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-8153_q6xlbx.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-8185_y20pgu.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m1-8164_t1bnvq.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-8198_svdxh1.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-8188_kquqh8.jpg") %></div>
  </figure>
</div>
</div>

<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -120px;"><%= cl_image_tag ("m1-8120_gh3g0h.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-8228_wldtgt.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-8231_kndsew.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m1-8325_ncfr1k.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-8256_ztd20y.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-8258_ip55s9.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-8281_x6lfaw.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-8306_xjeof7.jpg") %></div>
<div class="container JA2" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-8374_zwcbau.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-8393_juvnj5.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m1-8423_ddcd0s.jpg") %></div>
<div class="container JA2" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-8495_gyv8zh.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-8471_keg1j5.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -5rem;"><%= cl_image_tag ("m1-8509_bw0ne0.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 35px;"><%= cl_image_tag ("m1-8430_maccjo.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-8617_v3sysx.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-8657_hpumyq.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m1-8677_t6evtq.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-8857_it4bce.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-8737_g2garm.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m1-9044_tln9hf.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-8809_b608xl.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-8896_elff60.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-8920_mzsb2h.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-8875_gotv9h.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-9184_b4xpsk.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m1-8929_nl7cre.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-9107_jq7avb.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-9146_hjykda.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-9161_qymrxk.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-9167_yve1lw.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-9299_jvffja.jpg") %></div>

<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-9347_jfvyn2.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-9454_citw1t.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m1-9506_nvluqs.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-9489_kgwc42.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-9410_lloqqy.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m1-9466_w0tfl0.jpg") %></div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-9524_jepvuh.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-9533_ladr0m.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-9581_uj8js0.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-9592_ctberl.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-9610_x8crxb.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-9622_aoznb9.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-9642_okqn62.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-9651_wwv3uz.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m1-9662_z7rzmk.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-9675_phtz9a.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-9672_mf6psn.jpg") %></div>
  </figure>
</div>
</div>
