<div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m2-3645_bjo2xq.jpg") %>
    </div>


    <div class="name"><h1>Christina & Niko</h1></div>

    <%= link_to josiane_sergio_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to sandra_kristopher_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m1-3504_cfgruc.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-3546_nc4y9k.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-3431_dm2xyr.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m1-3519_difvxp.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-3346_qkqnrh.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-3286_un4wqe.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-3417_m2sjvl.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-3388_juvzm4.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-3651_n2wwf2.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-3616_yqf7yx.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m1-3609_squjpe.jpg") %></div>
<div class="container JA2" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-3708_ybf2av.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-3753_lsqoul.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -5rem;"><%= cl_image_tag ("m1-3557_xdpygj.jpg") %></div>
<div class="container JA2" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-3257_dcahnq.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-3762_pdjvhu.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -5rem;"><%= cl_image_tag ("m1-3667_nhy28q.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-3839_rr4d0i.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-3844_fvied2.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin-top: -7rem;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-3936_hosmnp.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-3958_zfuc9r.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m1-4117_yehil5.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-3985_qtctuz.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-4033_nkyjuq.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -5rem;"><%= cl_image_tag ("m1-4078_rw8nzi.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 0rem;"><%= cl_image_tag ("m1-4081_e6fqul.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 0rem;"><%= cl_image_tag ("m1-4134_vrgg2w.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-4149_pjtf3d.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-4211_msot6x.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-4216_nuit7p.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-4269_la5zyj.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-4363_vw48jp.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-4292_gnl4ur.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-4156_pl8ge9.jpg") %></div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: 0rem;"><%= cl_image_tag ("m1-4163_ukx6ig.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 0rem;"><%= cl_image_tag ("m1-4167_rcidzt.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 0rem;"><%= cl_image_tag ("m1-4321_ltcmdw.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-4511_ydzfms.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-4508_qdg1qe.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-4558_zcmhmr.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-4366_xlxn9m.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-4470_j1bdli.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-4585_uobeeh.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-4638_rdjbwf.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-4691_y3kjk9.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m1-304_kikles.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m1-76_byddax.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m1-11_cevv6i.jpg") %></div>


