<div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("cover_lqzkch.jpg") %>
    </div>
    <div class="name"><h1>Ebru & Josef</h1></div>
    <%= link_to liepa_rokas_path do %><div class="previous">
      <h1>Previous</h1>
    </div>
    <% end %>
    <%= link_to julia_aron_path do %>
    <div class="next"><h1>Next</h1></div>
    <% end %>

<div class="container EF" style="margin-bottom: 50px; width: 60%; margin-top: -57px;">
  <%= cl_image_tag ("m-2594_websize_grlwgx.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;">
  <%= cl_image_tag ("m-2561_websize_zai71x.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2530_websize_vohvil.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2653_websize_moycbj.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;">
  <%= cl_image_tag ("m-2551_websize_ofbffr.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: -5px;">
  <%= cl_image_tag ("m-2519_websize_vqjqq2.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: -5px;">
  <%= cl_image_tag ("m-2633_websize_egfbuz.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: -5px;">
  <%= cl_image_tag ("m-2694_websize_fxwews.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2583_websize_fewtcl.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2660_websize_rcaxcp.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;">
  <%= cl_image_tag ("m-3344_websize_wm31pm.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3419_websize_empmfm.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3000_websize_e4numh.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3364_websize_fbepht.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3416_websize_twow4i.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3238_websize_pp6yzq.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3832_websize_u5qvai.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3757_websize_ccrkpo.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3648_websize_kfgzfu.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3966_websize_pz6izs.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3962_websize_he2l4e.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3856_websize_kzyh9i.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-3729_websize_irqsnc.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-4109_websize_rae9mq.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-4215_websize_fjyll8.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-4147_websize_tvpyin.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-4173_websize_x4q9nk.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -4.5rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-3783_websize_wwg06n.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-4115_websize_irmtr3.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-4130_websize_xojcrb.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;">
  <%= cl_image_tag ("m-4491_websize_kdfmu6.jpg") %></div>
  <div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;">
  <%= cl_image_tag ("m-4282_websize_hsudpa.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;">
  <%= cl_image_tag ("m-4388_websize_hu7tgv.jpg") %></div>
  <div class="container JA3" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-4368_websize_rb6wz0.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-4399_websize_ma0rdc.jpg") %></div>
  </figure>
</div>
</div>
  <div class="container JA5" style="width: 60%;margin: -4.5rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-4421_websize_koho2m.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-4449_websize_di7sxr.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%;">
  <%= cl_image_tag ("m-4094_websize_feplrv.jpg") %></div>
