<div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("J_T-6496_vjfhds.jpg") %>
    </div>


    <div class="name"><h1>Fraser & Jamie</h1></div>
    
    <%= link_to charlotte_daniel_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to julia_aron_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("J_T-1-14_wxbwg6.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-16_odpcmm.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-11_soeuzy.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("J_T-1-21_t0uai5.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-2_ftke3e.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-23a_qulfou.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-24_nr9zra.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-25_yxo4ks.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("J_T-1-26_txe8gv.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-30_n8yjyv.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-31_ym4eo7.jpg") %></div>
  </figure>
</div>
</div>

<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -120px;"><%= cl_image_tag ("J_T-1-32_sdzzh1.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-1-37_nxlhbm.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-1-38_dhkkmy.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("J_T-1-45_qv4pcl.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("J_T-1-43_tcm4kr.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("J_T-1-42_s9qr9i.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-1-48_ryjydm") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-1-53_gzjl2g.jpg") %></div>
<div class="container JA2" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-49_mzu09n.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-51_nzfxvq.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-66_katwqj.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-1-72_csl2yq.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -5rem;"><%= cl_image_tag ("J_T-1-76_gkcemr.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 35px;"><%= cl_image_tag ("J_T-1-79_hkbknz.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-3219_dwr4ev.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-3134_wybqii.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("J_T-3119_pvzcj1.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-3455_mrcxto.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-3560_rmv2oq.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("J_T-4307_r6txva.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-4670_gursb8.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("J_T-4671_cuicbj.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("J_T-4739_a2wb7k.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-4792_fh2xiv.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-4978_tch2qz.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("J_T-4783_ewxk0l.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("J_T-4776_yo8xec.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("J_T-4938_piyhws.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("J_T-4965_pvxeje.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("J_T-4995_kvb4su.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("J_T-5166_tsflua.jpg") %></div>

<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-5228_ewus3m.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-5241_pek9ps.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("J_T-5232_lvtnzt.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-5264_qcopby.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("J_T-5286_olabil.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("J_T-5361_mehj1l.jpg") %></div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("J_T-5356_mhe1ht.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-5689_vq7ci7.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-5801_qkizii.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-5814_n8etnt.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-5817_yqnvhp.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-5819_ock9zg.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-5888_idsqxi.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-5889_qjjsmq.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("J_T-6029_ajwgbl.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-6060_zlclrv.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-6201_cdvqvu.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("J_T-6165_c8bnfn.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-6327_vmdcyy.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-6298_bknnu8.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-6331_gxusus.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-6332_phyu5k.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("J_T-6429_zfsu2l.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-6403_rbwdrv.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-6462_osgoah.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-6374_cj5q5f.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-6454_jeukv9.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("J_T-6627_iki3i4.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-6906_htuqol.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-6688_czwdol.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-7250_aqspzm.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-7309_cjhjbj.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-7376_snxz5f.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-7703_cm8fct.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-7707_y5ejbm.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("J_T-7437_jo3otx.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("J_T-7731_oyskcv.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("J_T-7740_roqljw.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-7858_i16xlr.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-7923_dq4lyi.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-7941_mshkzw.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("J_T-7950_qokjyb.jpg") %></div>
