<div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m2-7504_dwe2ym.jpg") %>
    </div>


    <div class="name"><h1>Josiane & Sergio</h1></div>

    <%= link_to yoli_phillipp_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to liepa_jurgis_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m2-39110_zmq1lz.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-39109_y2j3h9.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-39111_pyuw28.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m2-7442_kum8gw.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-7462_eu72fh.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-7471_ctx77g.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-7476_l1zapb.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-7488_cg2i4c.jpg") %></div>
<div class="container JA3" style="width: 60%">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7538_kg8zw1.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7551_ptp4vm.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -6rem;"><%= cl_image_tag ("m2-7561_alzewx.jpg") %></div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-7566_pf4scq.jpg") %></div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-7652_i78ank.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7659_cvnxtg.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7681_jitgin.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7723_yjxrms.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7750_w9vby5.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7761_ddawrn.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7756_tvotoy.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m2-7818_opc9oc.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-7763_f3dqqu.jpg") %></div>

<div class="container JA3" style="width: 60%;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7832_xxpbzc.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7839_jvqgxy.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -6rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7849_bk9t5h.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-7872_imxnkx.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin: -5rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-7932_ahvts1.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-8025_qgx1tj.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-8061_ut9hky.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-8046_jxgkmw.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-8030_i54ipp.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -6rem;"><%= cl_image_tag ("m2-7994_fw5upm.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-7987_fptpqf.jpg") %></div>
