<div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("1_cover_photo_dwctxb.jpg") %>
    </div>
    <div class="name"><h1>Julia & Arron</h1></div>
    <%= link_to ebrujosef_path do %><div class="previous">
      <h1>Previous Gallery</h1>
    </div>
    <% end %>
    <%= link_to lieparokas_path do %>
    <div class="next"><h1>Next Gallery</h1></div>
    <% end %>
<div class="container JA" style="margin-bottom: 50px; width: 60%; margin-top: -57px;">
  <%= cl_image_tag ("m-2545_websize_ckdwpj.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 11px;">
  <%= cl_image_tag ("m-2596_websize_g2wlzu.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2615_websize_rdowgx.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2679_websize_ggbgij.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m-2988_websize_xen8iy.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -5px;"><%= cl_image_tag ("m-2490_websize_wnszhh.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2536_websize_r31rsl.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2402_websize_b9prx1.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m-2804_websize_wtux0j.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2422_websize_xlzooy.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2733_websize_zex5gj.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2824_websize_lein4e.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2831_websize_sboprc.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-2733_websize_zex5gj.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-2422_websize_xlzooy.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-3150_websize_xyhbj7.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-3022_websize_ndhfpl.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-3383_websize_dziot9.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-3468_websize_wcrwyb.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-3061_websize_lvimnq.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-3474_websize_na4zoe.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-3698_websize_wzgaft.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -108px;"><%= cl_image_tag ("m-3601_websize_n5wmrh.jpg") %></div>
<div class="container" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-3645_websize_anhi8d.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-3590_websize_jgdtlb.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -80px;"><%= cl_image_tag ("m-3615_websize_yduh6v.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 35px;"><%= cl_image_tag ("m-3672_websize_hzihxm.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 35px;"><%= cl_image_tag ("m-3606_websize_lo0oiz.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 35px;"><%= cl_image_tag ("m-3613_websize_fq0zf5.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-3783_websize_cm5duh.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-3700_websize_kyir4j.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m-3733_websize_abjcyw.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-3815_websize_awufum.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-3702_websize_qjw5dd.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-4311_websize_pkpdtf.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m-3832_websize_ykdezx.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-4490_websize_ablum6.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-4434_websize_sqtcpl.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-4329_websize_fv6xng.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-4393_websize_lv0g5i.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-4551_websize_urqavi.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-4753_websize_kv1rgr") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-4365_websize_jrnftu.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-4723_websize_citgv0.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m-4354_websize_skdngp.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-4769_websize_mibtdl.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-4862_websize_hbg0th.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m-4834_websize_hhdrpz.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m-4762_websize_u8asf5.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m-5043_websize_b1s1d6.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m-4662_websize_uvltmd.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m-4585_websize_acdpjo.jpg") %></div>
