 <div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("LR-cover.jpg") %>
    </div>

<div class="container" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("s-7510_qno0xr.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
 <!--  <figure class="gallery__item gallery__item--1">
    <div class="galerry_img" style="width: 100%"><%= cl_image_tag ("LR-2.jpg") %></div>
  </figure> -->
  <!-- <figure class="gallery__item gallery__item--2">
    <div class="galerry_img"><%= cl_image_tag ("LR-3.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--3">
    <div class="galerry_img"><%= cl_image_tag ("s-7299_q7h0um.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--4">
    <div class="galerry_img"><%= cl_image_tag ("s-7319_w94sjt.jpg") %></div>
  </figure> -->
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-7183_tx72ck.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-7253_swapgn.jpg") %></div>
  </figure>
</div>
</div>

<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("s-7468_rbehdg.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">

  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-7570_sikpsw.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-8066_fsidd6.jpg") %></div>
  </figure>
</div>
</div>
