 <div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("LR-cover.jpg") %>
    </div>


    <div class="name"><h1>Liepa & Rokas</h1></div>
    <%= link_to lieparokas_path do %><div class="previous">
      <h1>Previous Gallery</h1>
    </div>
    <% end %>
    <%= link_to lieparokas_path do %>
    <div class="next"><h1>Next Gallery</h1></div>
    <% end %>

<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("s-7510_qno0xr.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("s-7299_q7h0um.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-7168_x49z1z.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-7319_w94sjt.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("s-7468_rbehdg.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-7183_tx72ck.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-7253_swapgn.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("s-7447_tg6gnv.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-7570_sikpsw.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-8066_fsidd6.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
 <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-7561_vjgkpt.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("LR-3.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("s-7523_ecuwjw.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-7920_tyqmsg.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-7819_bxkuz2.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-7971_q1wqwm.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-7911_l53xmt.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 35px;"><%= cl_image_tag ("s-8217_ii7gwb.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 35px;"><%= cl_image_tag ("s-8318_tsnlqf.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-8277_g92kae.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-8345_yyvgln.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("s-8240_dk2psz.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("s-8264_itfvip.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-8421_idlkrm.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-8419_erjzxm.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("s-8200_pqo6rz.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("s-8391_vyfjgx.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("s-8349_kl9jjo.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("s-8149_hxyjaj.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-8457_ggz1cp.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-8593_uusds5.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("s-8304_uujie3.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("s-8519_axgzuw.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-8596_gwalor.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-8607_bl4wyj.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -110px;"><%= cl_image_tag ("s-8620_q7dws0.jpg") %></div>
<div class="container" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("s-8537_uacj9e.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("s-8479_edja4h.jpg") %></div>
  </figure>
</div>
</div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("s-8654_zmkorh.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("s-8559_wuoe1k.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("s-8698_bkdk9h.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("s-8638_tgchhq.jpg") %></div>
<div class="container" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("s-8474_gcpfko.jpg") %></div>


