<div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m2-1538_COVER_zsyj5l.jpg") %>
    </div>


    <div class="name"><h1>Liepa & Rokas</h1></div>

    <%= link_to juliaaron_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to lieparokas_path do %>
    <div class="next"><h1>Next </h1></div>
    <% end %>

<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m2-1356_qgpxls.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-1158_wfx95e.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-1177_h2otof.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m2-1289_qdoiuv.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-1292_e8ex2b.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-1297_zvknak.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-1309_uregir.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-1315_rtqonp.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-1347_ej7rwu.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-1351_fff7go.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-1319_svang6.jpg") %></div>
  </figure>
</div>
</div>

<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -120px;"><%= cl_image_tag ("m2-1356_qgpxls.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-1379_alzkbb.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-1400_owxsuz.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 11px;"><%= cl_image_tag ("m2-1418_knpm8j.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m2-1411_sfck6y.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m2-1451_dgkgym.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-1453_ocrtbk.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-1461_ficff2.jpg") %></div>
<div class="container JA2" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-1501_ded75l.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-1510_ren96o.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4 " style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m2-1538-2_vq5s6g.jpg") %></div>
<div class="container JA2" style="width: 60%;margin: 0rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-1545_wrylyc.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-1548_mosi8u.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -5rem;"><%= cl_image_tag ("m2-1583_emdu47.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 35px;"><%= cl_image_tag ("m2-1602_ihrxbu.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-1611_haony9.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-1638_zaogxv.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m2-1641_nna5c1.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-1646_hbz4e7.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-1664_ypecsl.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m2-1668_lrz0yq.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-1704_fjdni5.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m2-1706_swotax.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m2-1713_wpbewh.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-1737_ro2hir.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-1751_kjqojo.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -100px;"><%= cl_image_tag ("m2-1740_qvbndl.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m2-1761_xhhjcy.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m2-1769_jcnnso.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m2-1780_qgprr7.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m2-1782_gdraaj.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m2-1791_bsuasz.jpg") %></div>

<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-1792_hayprg.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-1847_zdubj0.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m2-1804_wbmkwp.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-1909_cka0ma.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m2-1927_waxwbb.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%; margin-top: 40px;"><%= cl_image_tag ("m2-1939_wgzykf.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-1964_jw1a1w.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-1997_ajzolt.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -7rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-2098_ygsyar.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-2100_o3ecpn.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; "><%= cl_image_tag ("m2-2117_hom09u.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-2131_jtwpeo.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-2137_k47dxp.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-2146_t9ges3.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-2164_aj58rb.jpg") %></div>
<div class="container JA2" style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-2169_ffinf9.jpg") %></div>
