<div class="small-LR" style="position: relative; bottom: 183px;">
      <%= cl_image_tag ("m2-9852_vme7eb.jpg") %>
    </div>


    <div class="name"><h1>Yoli & Phillipp</h1></div>

    <%= link_to pascal_mark_path do %>
    <div class="previous"><h1>Previous</h1> </div>
    <% end %>

    <%= link_to josiane_sergio_path do %>
    <div class="next"><h1>Next</h1> </div>
    <% end %>


<div class="container LR" style="margin-bottom: 50px; width: 60%; margin-top: -57px;"><%= cl_image_tag ("m2-9226_qg0krg.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9181_zl8onw.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9164_xlgpp0.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin-top: -9rem;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9192_dz6vcm.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9329_ga4o54.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin-top: -7rem;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9338_wjvjrp.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9340_bmvypj.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA5" style="width: 60%;margin-top: -7rem; margin-bottom: -7rem;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9395_zzbmu2.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9403_i4ga4p.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA3" style="width: 60%;margin-top -9rem;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9421_flrfpq.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9380_sphusf.jpg") %></div>
  </figure>
</div>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m2-9456_h7kzdo.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9462_ejj7xs.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9456_qdmi9b.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: -9rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9475_keeatt.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9486_ewmzvx.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9495_kcwqdx.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9502_jcapy1.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA" style="margin-bottom: 50px; width: 60%; margin-top: -9rem;"><%= cl_image_tag ("m2-9550_bv4spl.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9559_ll8fmi.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9567_evd4h6.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -9rem;"><%= cl_image_tag ("m2-9611_ufnnjz.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-9794_unjaxh.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: 2rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9894_rthzsy.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9887_pesqrr.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -9rem;"><%= cl_image_tag ("m2-_qxshmi.jpg") %></div>
<div class="container JA3" style="width: 60%;margin: -6rem auto;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9932_uszwlp.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9927_wr99sv.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="width: 60%;margin-top: -7rem;">
<div class="gallery">
  <figure class="gallery__item gallery__item--5">
    <div class="galerry_img"><%= cl_image_tag ("m2-9946_oykeex.jpg") %></div>
  </figure>
  <figure class="gallery__item gallery__item--6">
    <div class="galerry_img"><%= cl_image_tag ("m2-9979_zvt76o.jpg") %></div>
  </figure>
</div>
</div>
<div class="container JA4" style="margin-bottom: 50px; width: 60%; margin-top: -7rem;"><%= cl_image_tag ("m2-9911_ocommf.jpg") %></div>
<div class="container JA2 " style="margin-bottom: 50px; width: 60%;"><%= cl_image_tag ("m2-9967_ww7sdn.jpg") %></div>
